@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    --scrollbar-thumb: light-dark(#58adc7, #697565);
    --scrollbar-thumb-hover: light-dark(#4ea3bd, #525c4f);

    --header-background: light-dark(#FFFFFF, #ECDFCC);
    --sidebar-background: light-dark(#1992D4, #697565);
    --main-background: light-dark(#E2E8F0, #181C14);
    --header-icon: light-dark(#000, #3C3D37);

    --sidebar-text: #FFFFFF;
    --header-text: light-dark(#000, #3C3D37);

    --search-bar-background: light-dark(#E2E8F0, #9bac96);

    --card-background: light-dark(#FFFFFF, #3C3D37);
    --card-border: light-dark(#52ce5c, #ECDFCC);
    --card-border-hover: light-dark(#52ce5c, #697565);
    --card-buttons: light-dark(#000, #ECDFCC);
}

* {
    transition: all 0.04s ease;
}


::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

li img,
.logo img {
    filter: invert(1);
    object-fit: contain;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: auto 1fr / 300px 1fr;
}

.header {
    background-color: var(--header-background);
    grid-column: 2 /4;
    padding: 1rem 3rem 0.5rem 3rem;
    display: grid;
    grid-template: auto 1fr / 3fr 2fr;
    align-items: center;
}

.header p {
    color: var(--header-text);
}

.header svg {
    fill: var(--header-icon);
    width: 1.5rem;
    height: 1.5rem;
}

.header svg:hover {
    cursor: pointer;
    scale: 1.2;
}

@media (max-width: 999px) {
    .header {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
}

.search {
    padding-left: 1rem;
    grid-row: 1 / 2;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#search-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.search input {
    min-width: 100px;
    padding: 0 1rem;
    height: 2rem;
    background-color: var(--search-bar-background);
    border: none;
    border-radius: 25px;
    flex-grow: 1;
}

.search input:focus {
    outline: none;
    box-shadow: none;
}

.widgets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    font-weight: 600;
}

.user {
    min-width: 200px;
    display: flex;
    justify-items: start;
    align-items: center;
}

.user .subtitle {
    display: flex;
    flex-direction: column;
}

.pfp-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.profile-pic {
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic:hover {
    border: 3px solid rgb(196, 150, 150);
}

#primary-pfp {
    grid-area: 1 / 1 / 3 / 2;
    min-width: 80px;
}

.user p {
    font-weight: 600;
    padding-left: 1rem;
}

#username {
    font-size: 1.5rem;
    grid-area: 2 / 2 / 3 / 3;
}

#greeting {
    font-size: 1.2rem;
    grid-area: 1 / 2 / 1 / 3;
}

@media (max-width: 999px) {

    .user {
        padding-top: 1rem;
        gap: 0.2rem;
    }

    #primary-pfp {
        margin-left: 1rem;
    }


    .user p {
        font-size: 1rem;
    }

    #username {
        font-size: 1.2rem;
    }

}

#bell:hover,
#change-theme:hover {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    fill: #30BA3B;
}

.buttons {
    height: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.buttons button {
    background-color: var(--sidebar-background);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 6rem;
    height: 2rem;
}

.buttons button:hover {
    color: var(--sidebar-background);
    cursor: pointer;
}


.sidebar {
    background-color: var(--sidebar-background);
    color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;
    justify-items: start;
    align-items: start;
}

.sidebar h1 {
    font-size: 2.7rem;
    margin: 0.1rem;
}

.logo {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}


.logo img {
    min-width: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar li {
    margin: 0.2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar li:hover {
    color: #dadbdd;
    fill: #dadbdd;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
}

.nav-links svg {
    width: 1rem;
    height: 1rem;
    fill: white;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:visited {
    color: inherit;
    text-decoration: none;
}



.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-left {
    background-color: var(--main-background);
    display: grid;
    padding: 2rem 0 0 1rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr / clamp(100px 200px 250px);
    gap: 0.5rem;
}

.main-right {
    padding: 2rem 2rem 0 1rem;
    background-color: var(--main-background);
}

@media (max-width: 999px) {

    .main-left {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .main-right {
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

}

.project-list {
    height: calc(100vh - 15rem);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    overflow-y: auto;
}


.project-card {
    min-width: 200px;
    height: 250px;
    padding: 2rem 1rem 0rem 1rem;
    background-color: var(--card-background);
    border-radius: 10px;
    border-left: 0.8rem solid var(--card-border);
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-self: space-evenly;
    transition: border 0.2s ease;
}

.project-card:hover {
    overflow: visible;
    border-left: 1.5rem solid var(--card-border-hover);
}

.card-buttons {
    padding: 1rem;
    display: flex;
    gap: 10%;
    justify-content: end;
    align-items: center;
    fill: var(--card-buttons);
}

.card-buttons svg {
    width: 1.5rem;
    height: 1.5rem;
}

.card-buttons svg:hover {
    cursor: pointer;
    scale: 1.2;

}



.right-panel {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    min-width: 20%;
    height: calc(100vh - 12.8rem);
    overflow-y: scroll;
    overflow-x: visible;
}


.announcements,
.trending {
    margin-right: 1rem;
}

.announcements {
    grid-row: 1 / 2;
}

.announcement-card {
    min-width: 250px;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
}

.announcement-header {
    font-weight: 500;
}

.announcement-card hr {
    margin: 1rem 0 1rem 0;
}

.trending {
    grid-row: 2 / 3;
}

.trending-card {
    min-width: 250px;
    padding: 1rem;
    background-color: var(--card-background);
    border-radius: 10px;
}

.trending-profile {
    display: flex;
    gap: 0.5rem;
    margin: 1.5rem 0;
    justify-items: center;
    align-items: center;
}

.trending-pfp {
    border-radius: 50%;
    object-fit: cover;
}
